@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  margin: 0;
  padding: 0;
  color: #454545;
}
body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(90deg, rgb(150, 150, 165) 0%, rgb(156, 156, 170) 35%, rgb(227, 233, 235) 100%);
  font-size: 20px;
}
h1 {
  width: 3%;
  position: relative;
  top: 52px;
  left: 89%;
  cursor: pointer;
}
h1:before {
  content: attr(data-count);
  color: white;
  position: absolute;
  right: 16px;
  font-size: 15px;
  text-align: center;
  top: -12px;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  opacity: 0;
}
h1.zero:before {
  opacity: 1;
}
section {
  margin: 100px auto;
  width: 89%;
  height: 400px;
  display: flex;
  justify-content: space-around;
}
section div {
  width: 28%;
  height: 97%;
  padding: 1%;
  position: relative;
  background-color:#2b2828;
  box-sizing: border-box;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
img {
  width: 336px;
  height: 218px;
  border-radius: 5px;
}

p {
  margin: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin-top: 2vw;
  font-weight: bold;
  color:white;
}
h6 {
  width: 50px;
  padding: 5px;
  margin: 10px;
  font-size: 19px;
  font-family: "Open Sans", sans-serif;
  color:white;
  font-weight: bold;
}
button {
  padding: 5px;
  background-color: darkorange;
  border: none;
  outline: none;
  font-weight: bold;
  color: black;
  cursor: pointer;
  width: 12vw;
  font-size: 15px;
}
section div span {
  position: absolute;
  top: 14px;
  left: 13px;
  background: red;
  width: 300px;
  height: 186px;
  display: none;
}

section div span img {
  width: 100%;
  height: 100%;
}
section div:nth-child(1) > span.active {
  animation: first 0.5s ease-in;
  z-index: 2;
  display: block;
}
section div:nth-child(2) > span.active {
  animation: second 0.5s ease-in;
  z-index: 2;
  display: block;
}
section div:nth-child(3) > span.active {
  animation: third 0.5s ease-in;
  z-index: 2;
  display: block;
}
section div:nth-child(4) > span.active {
  animation: four 0.5s ease-in;
  z-index: 2;
  display: block;
}
section div:nth-child(5) > span.active {
  animation: four 0.5s ease-in;
  z-index: 2;
  display: block;
}

@keyframes first {
  to {
    width: 30px;
    height: 20px;
    left: 1290px;
    top: -70px;
  }
}
@keyframes second {
  to {
    width: 30px;
    height: 20px;
    left: 948px;
    top: -70px;
  }
}
@keyframes third {
  to {
    width: 30px;
    height: 20px;
    left: 606px;
    top: -70px;
  }
}
@keyframes four {
  to {
    width: 30px;
    height: 20px;
    left: 265px;
    top: -70px;
  }
}
@keyframes five {
  to {
    width: 30px;
    height: 20px;
    left: 265px;
    top: -70px;
  }
}

.select {
  width: 66%;
  height: 630px;
  padding: 5%;
  background: #222;
  position: absolute;
  top: -1000px;
  left: 12%;
  transition: 0.5s;
  overflow-y: auto;
  margin: auto;
}
.select.display {
  top: -15px;
  overflow-x: hidden;
}
.select div {
  width: 100%;
  height: 200px;
  display: flex;
  padding: 5px;
  border: 1px solid white;
  position: relative;
  margin: 5px auto;
}
.select div img {
  width: 300px;
  height: 100%;
}
.select div p {
  padding: 35px;
  color: white;
}
.select div h6,
.select div button {
  position: absolute;
  left: 45%;
  top: 50%;
  color: white;
}
.select div button {
  left: 65%;
  top: 55%;
  width: 22%;
}
.select div span {
  display: none;
}
#nav1 {
  position: absolute;
  width: 70%;
  height: 10%;
  background-color: brown;
  left: 24vw;
  top: 3vw;
  border-radius: 30px;
}
#ul1 {
  position: absolute;
  left: 14em;
  top: 2vh;
  width: 10%;
  font-size: 26px;
  font-family: "Open Sans", sans-serif;
}
#ul2 {
  position: absolute;
  left: 3em;
  top: 2vh;
  width: 10%;
  font-size: 26px;
  font-family: "Open Sans", sans-serif;
  color: white;
}
#ph {
  position: absolute;
  left: 24em;
  top: 2vh;
  font-size: 22px;
  color: white;
  font-family: "Open Sans", sans-serif;
  top: -0.9vw;
}
#ul0 {
  position: absolute;
  left: 2em;
  top: 2vh;
  width: 10%;
  font-size: 26px;
  color: white;
  font-family: "Open Sans", sans-serif;
}
#logo1 {
  position: absolute;
  width: 9%;
  height: 16%;
  top: 1vw;
  left: 8vw;
}

.item select {
  position: absolute;
  left: 41em;
  top: 5.4em;
  border: none;
  outline: none;
  background-color: white;
}

.item h3 {
  position: absolute;
  color: white;
  left: 27em;
  top: 1.5em;
  font-weight: lighter;
  font-family: "Open Sans", sans-serif;
}
.item #s1 {
  position: absolute;
  left: 39.5em;
  top: 12em;
  width: 8%;
}
.item #h3 {
  position: absolute;
  top: 6.5em;
}
.item button {
  margin-left: 6.5vw;
}
.item2 button {
  margin-left: 6.5vw;
}
.item3 button {
  margin-left: 6.5vw;
}
.item4 button {
  margin-left: 6.5vw;
}
#img33 {
  position: absolute;
  width: 100%;
  height: 13%;
  top: 693em;
}

.item {
  /* width: 300px; */
  overflow: hidden;
  margin: 0 auto;
}

.item img {
  /* width: 100%; */
  transition: 0.5s all ease-in-out;
  box-sizing: border-box;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.item:hover img {
  transform: scale(1.5);
}

.item2 {
  /* width: 300px; */
  overflow: hidden;
  margin: 0 auto;
}

.item2 img {
  /* width: 100%; */
  transition: 0.5s all ease-in-out;
  box-sizing: border-box;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.item2:hover img {
  transform: scale(1.5);
}

.item3 {
  /* width: 300px; */
  overflow: hidden;
  margin: 0 auto;
}

.item3 img {
  /* width: 100%; */
  transition: 0.5s all ease-in-out;
  box-sizing: border-box;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.item3:hover img {
  transform: scale(1.5);
}

.item4 {
  /* width: 300px; */
  overflow: hidden;
  margin: 0 auto;
}

.item4 img {
  /* width: 100%; */
  transition: 0.5s all ease-in-out;
  box-sizing: border-box;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.item4:hover img {
  transform: scale(1.5);
}
.btn99 {
  /* background-color: DodgerBlue; Blue background */
  position: absolute;
  border: none; /* Remove borders */
  color: white; /*white text*/
  padding: 12px 16px; /* Some padding */
  font-size: 41px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  left: 0.5em;
  top: -1px;
}

/* Darker background on mouse-over */
.btn99:hover {
  /* background-color: black; */
  color: black;
  border-radius: 20px;
}
.fa-home:hover {
  content: "\f015";
  color: white;
  transition: 0.4s ease-in-out;
}
#span {
  content: "\2191";
  font-size: 32px;
  font-weight: bolder;
  color: white;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 30px;
  width: 9.1%;
}

#myBtn:hover {
  background-color: #555;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
}
h1.zero:before {
  top: -1vh;
  opacity: 1;
  position: absolute;
  left: 1.9em;
}
#h21 {
  position: absolute;
  left: 10.5em;
  font-size: 60px;
  top: 3em;
  font-family: "Ubuntu", sans-serif;
}
#main1 {
  position: absolute;
  width: 20%;
  height: 10%;
  top: 9em;
  left: 5.5em;
}
#l3 {
  position: absolute;
  width: 4vh;
  height: 4.5vh;
  left: 32.5em;
  top: 71.1em;
}
#l4 {
  position: absolute;
  width: 4vh;
  height: 4.5vh;
  left: 37.5em;
  top: 115.1em;
}
#l5 {
  position: absolute;
  width: 4vh;
  height: 4.5vh;
  left: 13.5em;
  top: 137.6em;
}
#l6 {
  position: absolute;
  width: 4vh;
  height: 4.5vh;
  left: 37.5em;
  top: 137.6em;
}
#l7 {
  position: absolute;
  width: 4vh;
  height: 4.5vh;
  left: 56.5em;
  top: 137.6em;
}
#l8 {
  position: absolute;
  width: 4vh;
  height: 4.5vh;
  left: 16.5em;
  top: 160.1em;
}
#l9 {
  position: absolute;
  width: 4vh;
  height: 4.5vh;
  left: 54.5em;
  top: 160.1em;
}
#h22 {
  position: absolute;
  left: 6.5em;
  font-size: 60px;
  top: 56.5em;
  font-family: "Ubuntu", sans-serif;
}
/* for big main heading*/
#h7 {
  position: absolute;
  left: 8em;
  font-size: 60px;
  top: 111.5em;
  font-family: "Ubuntu", sans-serif;
}
#h8 {
  position: absolute;
  left: 8.8em;
  font-size: 60px;
  top: 158em;
  font-family: "Ubuntu", sans-serif;
}
#h9 {
  position: absolute;
  left: 9.7em;
  font-size: 60px;
  top: 189.7em;
  font-family: "Ubuntu", sans-serif;
}
#h10{
  position: absolute;
  left: 9.9em;
  font-size: 60px;
  top: 199.5em;
  font-family: "Ubuntu", sans-serif;
}
#p1{
  position:absolute;
  margin-left:14vw;
  margin-top:-2vw;
}
#p2{
  margin-top:0vw;
  margin-left:14vw;
}
#p3{
  position:absolute;
  margin-left:14vw;
  margin-top:-2vw;
}